@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.nv-bar {
  display: flex;
  width: 100%;
  color: white;
  padding: 15px 15px 15px 20px;
  background: #31c07d;  
}

#todoInput {
  width: 90%;
  border: 1px solid #868686;
  border-radius: 5px;
  margin: 10px;
  padding: 5px 15px;
}

#addTodoBtn {
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  background: #767676;
  color: white;
}

#addTodoBtn:hover {
  background: #0c7544;
}

#toddList {
  padding: 0 10px;
  width: 100%;
}

#toddList>li{
  display: flex;
  gap: 5px;
  padding: 8px 0;
  border-bottom: 1px solid #868686;
}

.remove-todo-btn {
  margin-left: auto;
}
